<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <title>Feed</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">NHL Now</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
    </ul>
    <div class="navbar-nav ms-auto">
          <a style="padding-right:1.2rem"class="nav-link" href="/login" id="loginNav">Login </a>
      </div>
  </div>
</nav>
        <div class="about-section">
            <h1>NHL Feed</h1>
              <div id="date"></div>
        </div>
        <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body"> 
                <div id="game0"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">   
                <div id="game1"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game2"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">   
                <div id="game3"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game4"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game5"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game6"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game7"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game8"></div>
            </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="card" onclick="alert('Work in Progress');">
            <div class="card-body">  
                <div id="game9"></div>
            </div>
        </div>
      </div>
</div>
  </body>
  <script>
    async function createNHLStatsList(){
        //Credit to https://github.com/peruukki/nhl-score-api for the API
        const response = await fetch('https://nhl-score-api.herokuapp.com/api/scores/latest');
        const statsList = await response.json();

        document.getElementById('date').innerHTML = 
        `<h2>Date of games: ${statsList.date.pretty}</h2>`;
      
        for (let i = 0; i < statsList.games.length; i++){
            let gamediv = "game" + i.toString();
            createScoreCard(gamediv, i, statsList);
        }
    }

 async function createScoreCard(gamediv, gameid, statsList){
            let awayAbbreviation = `${statsList.games[gameid].teams.away.abbreviation}`
            let homeAbbreviation = `${statsList.games[gameid].teams.home.abbreviation}`
            let homeScore = await createNHLScoresList(gameid, homeAbbreviation, statsList);
            let awayScore = await createNHLScoresList(gameid, awayAbbreviation, statsList);
            document.getElementById(gamediv).innerHTML = 
            `<h3>Game: ${statsList.games[gameid].teams.away.locationName} ${statsList.games[gameid].teams.away.teamName} at 
                ${statsList.games[gameid].teams.home.locationName} ${statsList.games[gameid].teams.home.teamName}</h3>
                <h3>Scores: ${statsList.games[gameid].teams.away.locationName} ${awayScore} -
                    ${statsList.games[gameid].teams.home.locationName} ${homeScore}</h3>
                    <h3>Status: ${statsList.games[gameid].status.state}</h3>`;
        }

async function createNHLScoresList(gameNum, teamAb, statsList){
    
    let num = '';

    if(teamAb === 'ANA'){
        num = `${statsList.games[gameNum].scores.ANA}`
    }
    else if(teamAb === 'ARI'){
        num = `${statsList.games[gameNum].scores.ARI}`
    }
    else if(teamAb === 'BOS'){
        num = `${statsList.games[gameNum].scores.BOS}`
    }
    else if(teamAb === 'BUF'){
        num = `${statsList.games[gameNum].scores.BUF}`
    }
    else if(teamAb === 'CAR'){
        num = `${statsList.games[gameNum].scores.CAR}`
    }
    else if(teamAb === 'CBJ'){
        num = `${statsList.games[gameNum].scores.CBJ}`
    }
    else if(teamAb === 'CGY'){
        num = `${statsList.games[gameNum].scores.CGY}`
    }
    else if(teamAb === 'CHI'){
        num = `${statsList.games[gameNum].scores.CHI}`
    }
    else if(teamAb === 'COL'){
        num = `${statsList.games[gameNum].scores.COL}`
    }
    else if(teamAb === 'DAL'){
        num = `${statsList.games[gameNum].scores.DAL}`
    }
    else if(teamAb === 'DET'){
        num = `${statsList.games[gameNum].scores.DET}`
    }
    else if(teamAb === 'EDM'){
        num = `${statsList.games[gameNum].scores.EDM}`
    }
    else if(teamAb === 'FLA'){
        num = `${statsList.games[gameNum].scores.FLA}`
    }
    else if(teamAb === 'LAK'){
        num = `${statsList.games[gameNum].scores.LAK}`
    }
    else if(teamAb === 'MIN'){
        num = `${statsList.games[gameNum].scores.MIN}`
    }
    else if(teamAb === 'MTL'){
        num = `${statsList.games[gameNum].scores.MTL}`
    }
    else if(teamAb === 'NJD'){
        num = `${statsList.games[gameNum].scores.NJD}`
    }
    else if(teamAb === 'NSH'){
        num = `${statsList.games[gameNum].scores.NSH}`
    }
    else if(teamAb === 'NYI'){
        num = `${statsList.games[gameNum].scores.NYI}`
    }
    else if(teamAb === 'NYR'){
        num = `${statsList.games[gameNum].scores.NYR}`
    }
    else if(teamAb === 'OTT'){
        num = `${statsList.games[gameNum].scores.OTT}`
    }
    else if(teamAb === 'PHI'){
       num = `${statsList.games[gameNum].scores.PHI}`
    }
    else if(teamAb === 'PIT'){
        num = `${statsList.games[gameNum].scores.PIT}`
    }
    else if(teamAb === 'SEA'){
        num = `${statsList.games[gameNum].scores.SEA}`
    }
    else if(teamAb === 'STL'){
        num = `${statsList.games[gameNum].scores.STL}`
    }
    else if(teamAb === 'SJS'){
        num = `${statsList.games[gameNum].scores.SJS}`
    }
    else if(teamAb === 'TBL'){
        num = `${statsList.games[gameNum].scores.TBL}`
    }
    else if(teamAb === 'TOR'){
        num = `${statsList.games[gameNum].scores.TOR}`
    }
    else if(teamAb === 'VAN'){
        num = `${statsList.games[gameNum].scores.VAN}`
    }
    else if(teamAb === 'VGK'){
        num = `${statsList.games[gameNum].scores.VGK}`
    }
    else if(teamAb === 'WPG'){
        num = `${statsList.games[gameNum].scores.WPG}`
    }
    else{
        num = `${statsList.games[gameNum].scores.WSH}`
    }
    return num;
}

createNHLStatsList();

  </script>
   <script src="/bundle.js"></script>
</html>